{% extends "base.html" %} {% block content %}
<div class="p-10">
<h1 class="mb-8 text-3xl font-bold text-orange-600">Book an Appointment</h1>

<form method="POST" class="px-8 pt-6 pb-8 mb-4 rounded shadow-md bg-accent">
  <div class="mb-4">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="doctor_name">
      Doctor Name
    </label>
    <input
      class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
      id="doctor_name"
      name="doctor_name"
      type="text"
      placeholder="Dr. John Doe"
      required
    />
  </div>
  <div class="mb-4">
    <label
      class="block mb-2 text-sm font-bold text-gray-700"
      for="appointment_type"
    >
      Appointment Type
    </label>
    <input
      class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
      id="appointment_type"
      name="appointment_type"
      type="text"
      placeholder="Check-up"
      required
    />
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-bold text-gray-700" for="date">
      Date and Time
    </label>
    <input
      class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
      id="date"
      name="date"
      type="datetime-local"
      required
    />
  </div>
  <div class="flex items-center justify-between">
    <button
      class="px-4 py-2 font-bold text-black transition duration-300 bg-orange-600 rounded hover:bg-orange-700 focus:outline-none focus:shadow-outline"
      type="submit"
    >
      Book Appointment
    </button>
  </div>
</form>
</div>
{% endblock %}
